<img width="200" src="https://pomf2.lain.la/f/83oropu4.png" title="logo" alt="logo">
<h4>enter you email and a reset password will be mailed to you</h4>
<br>
<br>
<form action="" method="post">
<label for="email">email</label>
<input type="email" name="email" id="email">
<br>
<br>
<button type="submit">reset password</button>  
</form>