<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>V1</title>
    <style type="text/css">
        body {
            background-color: #003366;
            width: 100%;
        }
        .tenor-gif-embed {
            width: 100%;
            height: 100%;
            display: block;
            margin-top: 50%;
            margin: auto;
            width: auto;

        }
    </style>
</head>
<body>
    <div class="tenor-gif-embed" data-postid="22656380" data-share-method="host" data-aspect-ratio="1" data-width="40%"><a href="https://tenor.com/view/cat-space-nyan-cat-gif-22656380">Cat Space GIF</a>from <a href="https://tenor.com/search/cat-gifs">Cat GIFs</a></div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
    <!-- <img width="500px"; height="500px" src="./0002.gif" alt="nayan cat" > -->
</body>
</html>