<img width="200" src="https://pomf2.lain.la/f/83oropu4.png" title="logo" alt="logo">
<form action="" method="post">
<label for="email">email</label>
<input type="email" name="email" id="email">
<br>
<br>
<label for="password">password</label>
<input type="password" name="password" id="password">
<br>
<br>
<button type="submit">login</button>

<br>
<br>
<a href="register">don't have an account? register</a>
<br>
<a href="forgot_password">forgot your password?</a>