<img width="200" src="https://pomf2.lain.la/f/83oropu4.png" title="logo" alt="logo">
<form action="" method="post">
<label for="username">username</label>
<input type="text" name="username" id="username">
<br>
<br>
<br>
<label for="email">email</label>
<input type="email" name="email" id="email">
<br>
<br>
<br>
<label for="password">password</label>
<input type="password" name="password" id="password">
<br>
<br>
<br>
<button type="submit">Register</button>
<br>
<br>
<br>
<a href="login">already have an account? login</a>
