<img width="200" src="https://pomf2.lain.la/f/83oropu4.png" title="logo" alt="logo">
<form action="" enctype="multipart/form-data" method="post">


    <label for="name">model name</label>
    <input type="text" name="name" id="name" placeholder="model name">
    <br>
    <br>
    <label for="method">Choose method</label>

    <select name="method" id="method">
        <option value="">choose content type</option>
        <option value="mega">Mega</option>
        <option value="gofile">Gofile</option>
        <option value="bunkr">stream bunker</option>
    </select>
    <br>
    <br>
    <label for="file">Choose file</label>
    <input type="file" name="file" id="file">
    <br>
    <br>

    <input type="submit" value="Upload" />
</form>