<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <img width="200" src="https://pomf2.lain.la/f/83oropu4.png" title="logo" alt="logo">
<form action="" method="post">


    <label for="name">model name</label>
    <input type="text" name="name" id="name" placeholder="model name">
    <br>
    <br>
    <label for="method">Choose method</label>

    <select name="method" id="method">
        <option value="">choose content type</option>
        <option value="mega">Mega</option>
        <option value="gofile">Gofile</option>
        <option value="bunkr">stream bunker</option>
    </select>
    <br>
    <br>
    <label for="image">image</label>
    <input type="file" name="image" id="image">
    <br>
    <br>

    
    <input type="submit" value="Upload" />
</form>
</body>
</html>