
<form class="form" action="" method="post">
      <img width="150" src="https://pomf2.lain.la/f/83oropu4.png" alt="logo">
  <h1>please verfiy your email to access the website</h1>
  <button type="submit">Send link again</button>
</form>
